@import "./../fonts.scss";

header{
    height: 100vh ;
    background: linear-gradient( #ecf2f8, white)
}


.nav-logo {
    width: 110px;
}

.header-nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.nav-item:hover{
    color: #A1C4FD;
    text-decoration: underline;
}

