@import "./../fonts.scss";

body {
    background: #ecf2f8
    // background-color: linear-gradient(#ecf2f8, white);
}

.container{
    margin: 0 370px;
}

.nav-logo {
    width: 110px;
}

.header-nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.nav-item:hover{
    color: #A1C4FD;
    text-decoration: underline;
}

