body {
    background: #F2F6FA;
}

.container{
    margin: 0 370px;
}

.nav-logo {
    width: 110px;
}

.header-nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

.nav-item:hover{
    color: #A1C4FD;
    text-decoration: underline;
}

.header-hello {
    top: 100px;
    position: relative;
}

.hello-name {
    position: absolute;
}

.hello-text {
    position: absolute;
font-weight: 400;
font-size: 36px;
color: #868686;
}